import React from 'react';

import {
  StoreProvider
}

from './features/products/presentation/context/StoreContext';
import MainApp from './features/products/presentation/pages/MainApp';

const App: React.FC=()=> {
  return ();
}

;

export default App;